<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Add user</title>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<style>
    .error {
        color: red;
    }
</style>
<body>

<div class ="container">
    <h1>Ajouter un utilisateur </h1>

    <form th:action="@{/admin/insert}" method="post" th:object="${user}">
        <div>
            <label>Nom : </label> <input type="text" th:field="*{nom_user}" class="form-control mb-2 col-4"/>
            <p th:if="${#fields.hasErrors('nom_user')}" th:errors="*{nom_user}" class="error"/>
        </div>
        <br>
        <div>
            <label>Prénom : </label> <input type="text" th:field="*{prenom_user}"  class="form-control mb-2 col-4"/>
            <p th:if="${#fields.hasErrors('prenom_user')}" th:errors="*{prenom_user}" class="error"/>
        </div>
        <br>
        <div>
            <label>Email : </label> <input type="text" th:field="*{email}" class="form-control mb-2 col-4" />
            <p th:if="${#fields.hasErrors('email')}" th:errors="*{email}" class="error"/>
        </div>
        <br>
        <div>
            <label>Password : </label>
             <input type="password" th:field="*{password}"  class="form-control mb-2 col-4"/>
             <p th:if="${#fields.hasErrors('password')}" th:errors="*{password}" class="error"/>
        </div>
        <br>
        <div>
            <label>Role : </label> 
            <select  name="rol.id_role" class="form-control mb-2 col-4" required>
	            <option value="" th:disabled="disabled" th:selected="selected">Choisir un role</option>
	            <option th:each="role : ${roles}" th:value="${role.id_role }"th:text="${role.nom_role }"/>
            </select>
        </div>
        <br>
        <button type="submit" class="btn btn-success">Ajouter</button>
    </form> 
  </div>  
</body>
</html>